.container {
    margin: auto;
    display: table;
}

.texto_animado {
    float: left;
    position: relative;
    font-size: 3em;
    mix-blend-mode: screen; 
}

.texto_animado .space {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    border-left: 5px #ccc solid;
    animation: typing 3s infinite backwards steps(70);
}

@keyframes typing {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

  
  .things > .content {
    float: left;
    width: 25%;
    height: 500px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    position: relative;
  }
  
  .things > .content h3 {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    top: 50;
    bottom: 0;
    left: 100;
    right: 100;
    margin: auto;
    position: absolute;
    height: 150px;
    color: #89323B;
  }


  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile_button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #000;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(115,23,217,0.8) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .profile_button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .profile_button:hover, .profile_button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .profile_button:hover::before, .profile_button:focus::before {
    opacity: 1;
  }
  
  .profile_button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2s infinite;
  }
  
  .profile_button:hover::after, .profile_button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 50px;
      height: 50px;
      opacity: 1;
    }
    100% {
      width: 250px;
      height: 250px;
      opacity: 0;
    }
  }
